cbor2~=5.7.1
ecdsa~=0.18
gcovr~=7.2
ndeflib~=0.3.3
numpy==1.26.4
nunavut~=2.3
pillow~=10.4
pip~=23.0
polib~=1.2
prek~=0.4.5
pytest~=7.3.2
pyyaml~=6.0
qoi~=0.5
requests==2.32.3
setuptools~=70.1.0
simple_parsing~=0.1.7
tree-sitter~=0.23
tree-sitter-cpp~=0.23
